{% extends "base.html.twig" %}
 
{% block body %}
 
    <header class="navbar navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-between">
            <p class="text-light h3">Lorem ipsum</p>
            <a href="#" class="text-light">Retour au site</a>
        </div>
    </header>
 
    <div class="container-fluid" style="background:linear-gradient(90deg, #f7f7f9 calc(25% - 15px), #fff calc(23.1% - 15px) );">
 
        <div class="row pt-3" style="min-height: 87vh">
            <aside class="col-3">
                <nav>
                    <ul class="list-unstyled">
                        <li class="nav-item">
                            <a href="{{ path('admin_article_index') }}" class="nav-link {{ 'article' in app.request.attributes.get("_route") ? 'text-danger' }}">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('admin_category_index') }}" class="nav-link {{ 'category' in app.request.attributes.get("_route") ? 'text-danger' }}">Catégories</a>
                        </li>
                    </ul>
                </nav>
            </aside>
 
            <main class="col-lg-9">
                {% include "utils/_flash.html.twig" %}
 
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
 
 
{% endblock %}